@import "tailwindcss";

@layer base {
  .dim {
    --background: #1d1d1d;
    --background-muted: #3a3a3a;
    --background-secondary: #313131;
    --background-secondary-muted: #4d4d4d;

    --text: #ededed;
    --foreground: #2b2b2b;
    --header: #272727;
  }

  .midnight {
    --background: #0a0a0a;
    --background-muted: #141414;
    --background-secondary: #121212;
    --background-secondary-muted: #1c1c1c;

    --text: #e0e0e0;
    --foreground: hsl(0, 0%, 7%);
    --header: hsl(0, 0%, 7%);
  }
  
  .light {
    --background: hsl(0, 0%, 85%);
    --background-muted: hsl(0, 0%, 78%);
    --background-secondary: hsl(0, 0%, 80%);
    --background-secondary-muted: hsl(0, 0%, 70%);
    
    --text: #323232;
    --text-muted: #777777;
    --foreground: hsl(0, 0%, 90%);
    --header: hsl(0, 0%, 95%);
  }

  body {
    background: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
  }
}